.heading{
    color: red;
    background-color: whitesmoke;
    font-style: italic;
}
.child{
    padding-bottom: 20px;
}
.child1{
    color: #9c403a;
}
#child3{
    font-style: italic;
    text-decoration: underline;

}
.child4{
    letter-spacing: 3px;
    font-size: 14px;
}
.test{
    text-decoration: line-through;
    font-weight: bold;
}
.test1{
    text-decoration-color: yellow;
    font-weight: bold;
    background-color: yellow;
}
a{
    font-style: italic;
    color: red;
    text-decoration: none;
    background-color: yellow;


}